@model IEnumerable<Database.Balance.Models.ItemReinforceModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemOld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item1Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item3Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemOld.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNew.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item3.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item3Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
