@model Database.Balance.Models.ItemModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ItemModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipType)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsUsable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DDvMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DDvMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DDvMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DDvMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MDvMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MDvMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MDvMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MDvMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RDvMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RDvMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RDvMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RDvMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DPv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DPv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MPv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MPv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RPv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RPv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dhit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dhit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DDd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DDd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rhit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rhit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RDd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RDd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mhit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mhit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MDd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MDd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Critical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Critical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CriticalProtect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CriticalProtect)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DDvCriticalAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DDvCriticalAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DDvCriticalRemove)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DDvCriticalRemove)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HumanKiller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HumanKiller)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HumanProtect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HumanProtect)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobKiller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobKiller)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobProtect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobProtect)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Str)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Str)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Int)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Int)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HpRegen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HpRegen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HpPotionRestore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HpPotionRestore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddPotionRestoreHp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddPotionRestoreHp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddTransformMaxHp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddTransformMaxHp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MpRegen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MpRegen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MpPotionRestore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MpPotionRestore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddPotionRestoreMp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddPotionRestoreMp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddTransformMaxMp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddTransformMaxMp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncDrop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncDrop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncExp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncExp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncSilver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncSilver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsStack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsStack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttackRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttackRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttackRateWhenTransform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttackRateWhenTransform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoveRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoveRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoveRateWhenTransform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoveRateWhenTransform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceAttack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DistanceAttack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseKnight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseKnight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseRanger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseRanger)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseMagician)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseMagician)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseAssassin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseAssassin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseSummoner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseSummoner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseInAttack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseInAttack)
        </dd>
    </dl>

    @if (Model.UnitDrops != null && Model.UnitDrops.Count > 0)
    {
        <h4>Выпадает с юнитов:</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitDrops[0].Unit.UnitId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitDrops[0].Unit.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitDrops[0].CountFrom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitDrops[0].CountTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitDrops[0].Percent)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UnitDrops)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit.UnitId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Percent)
                        </td>
                        <td>
                            <a asp-controller="UnitDrops" asp-action="Edit" asp-route-id="@item.Unit.Id">Edit</a> |
                            <a asp-controller="UnitDrops" asp-action="Details" asp-route-id="@item.Unit.Id">Details</a> |
                            <a asp-controller="UnitDrops" asp-action="Delete" asp-route-id="@item.Unit.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a  asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" asp-route-itemType="@Model.Type" class="btn btn-outline-primary">Back to List</a>
</div>
